<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ 'HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{ 'SEARCH' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="musical-notes"></ion-icon>
      <ion-label>{{ 'LIBRARY' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premium">
      <ion-icon src="../../assets/tab-icon-spotify.svg"></ion-icon>
      <ion-label>{{ 'PREMIUM' | translate }}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>